:root {
    --primary-color: #0d0a37;
    --secondary-color: #ff630e;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;  
}

.form-control.is-invalid:focus,
.form-control:focus {
    box-shadow: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}