/* .listAllowanceWrapper {
    margin: 0 24px;
}

.headerTop {
    height: 100px;
}

.listAllowance {
}

.drawerLabel {
    color: #1677ff;
    font-weight: 500;
}

.drawerLabel:hover {
    opacity: 0.9;
} */