.user {
    width: 370px;
    height: 322px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 5px;
    border-top: 4px solid #001529;
}

.profileWrapper {
    margin-top: 20px;
}
  
.userInfo {
    padding: 0 30px;
    min-height: 700px;
    /* border: 1px solid #d5d5d5; */
    border-radius: 4px;
    background: #f5f5f5;
}
  
.avatar {
    margin: 10px 0;
    border: 0.5px solid #001529;
}
  
.data {
    margin-top: 10px;
}
  
.dataInfo {
    margin-left: 5px;
}
  
.leave {
    border-right: 1px solid #e7e7e7;
    padding: 10px 0;
}
  
.totalStaff {
    padding: 10px 0;
}
  
.userFooter {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
}

.labelItem {
    margin-bottom: 0rem;
}

.ant-tabs-top >.ant-tabs-nav::before {
    border-bottom: 1px solid #d3d3d3;
}

.ant-tabs .ant-tabs-tab {
    padding: 12px 6px;
}